
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <P>
            
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quibusdam dolor fugit quam aperiam molestias illo repellendus assumenda. Aperiam amet numquam molestiae magnam in, ut alias nesciunt sed at delectus!
                </P>
            </div>
            <div class="col-sm-6">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, aliquid officiis? Rem animi deserunt hic illo corporis quas quibusdam saepe aliquid. Beatae voluptatem aut debitis nam distinctio exercitationem assumenda sit.
                </p>
            </div>
        
    </div>
    </div>
</body>
